.uru1 {
	border: 3px solid blue;
	border-radius: 25px;
	padding: 7px;
	margin: 30px;
}

.uru2 {
	border: 2px solid black;
	border-radius: 25px;
	padding: 7px;
}

.abc {
	margin: 20px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 8px;
	padding-right: 8px;
}

.uru3 {
	border-radius: 2px;
	border: 1px;
	padding:12px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;	
    background-color: blue;
    color: white;
}

#divh1 {
	font-family: arial,sans-serif;
	height: 30px;
    display: table-cell;
    vertical-align: middle;
    background-color: white;
    font-size: 16px;
}